* {
  /* background-color: rgb(42, 22, 61); */
  background-color: n;
}

h1 {
  color: blanchedalmond;
  padding-top: 10px;
  text-align: center;
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input {
  background-color: white;
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 20px;
}

textarea {
  background-color: white;
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input: :focus-within {
  outline: none;
  border-color: #5bd183;
  birder-wudth: 3px;
}

textarea: :focus-within {
  outline: none;
  border-color: #5bd183;
  birder-wudth: 3px;
}

button {
  background-color: #00e1ff;
  border-radius: 20px;
  border-color: black;
  font-size: 22px;
  padding: 10px 18px;
  text-align: center;
  display: flex;
  margin: auto;
}

button:hover {
  opacity: 80%;
  cursor: pointer;
}
