@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  background-color: #abe400;
}

.swiper {
  top: 20px;
  width: 362px;
  height: 370px;
  justify-items: center;
  border-radius: 5px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph {
  top: 2px;
  padding: 0px 15px 0px 15px;
  text-align: justify;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #74858d;
}

.paragraph span {
  text-align: justify;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #74858d;
}

.swiper-slide img:nth-child(1, 3, 5, 7, 9, 11) {
  margin: 0;
  padding: 0;
}

.swiper-slide img {
  margin-top: 15px;
}

.swiper-slide h5 {
  margin-top: 5px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #394d57;
}

.swiper-slide p {
  margin-top: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #74858d;
}

.swiper {
  margin-left: 10px;
  margin-right: 10px;
}

.swiper-button-next {
  background-color: #00a5e4;
}

.swiper-button-prev {
  background-color: #00a5e4;
}

.swiper-pagination {
  background-color: transparent;
  color: white;
}

.swiper-pagination:hover {
}
