ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  float: right;
}

ul li a {
  text-decoration: none;
  color: black;
  padding: 12px 22px;
  background-color: beige;
}

ul li a:hover {
  background: #ff0000;
  color: #fff;
}

img src {
  display: right;
}
