/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Style for the header navigation */
header {
  background-color: #333;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
